{% extends "pages/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="kt-container-fixed mt-1" style="max-width: var(--custom-container-width, 85%);">
    <div class="flex flex-col items-stretch gap-7 mt-5 py-5">
        <main class="grow" role="content">
            <!-- Container -->
            <div class="kt-container-fixed">
                <h2 class="text-xl font-bold mb-5">My Orders</h2>
                <!-- begin: grid -->
                <div class="grid xl:grid-cols-1 gap-5 lg:gap-9">
                    <!-- begin: Card -->
                    {% for order in orders %}
                    <div class="lg:col-span-1">
                        <div class="kt-card">
                            <div class="kt-card-header justify-start bg-muted/70 gap-9 h-auto py-5">
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Order ID</span>
                                    <span class="text-sm font-medium text-mono">{{ order.order_id }}</span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Order placed</span>
                                    <span class="text-sm font-medium text-mono">{{ order.created_at|date:"d M, Y" }}</span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Total</span>
                                    <span class="text-sm font-medium text-mono">
                                        {{ order.payment.payment_currency|default:"USD" }}
                                        {% with subtotal=order.items.all|length|floatformat:2 shipping=order.shipping_fees|floatformat:2 %}
                                            {{ subtotal|add:shipping|floatformat:2 }}
                                        {% endwith %}
                                    </span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Ship to</span>
                                    <span class="text-sm font-medium text-mono">{{ order.shipping_full_address }}</span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Status</span>
                                    <span class="text-sm font-medium text-mono">{{ order.status|title }}</span>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <a href="{% url 'dashboard:order_receipt' order.id %}" class="kt-btn kt-btn-primary">
                                        <i class="ki-filled ki-cheque text-base"></i>
                                        View Receipt
                                    </a>
                                </div>
                                <div>
                                    <form method="post" action="{% url 'dashboard:reorder' order.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="kt-btn kt-btn-destructive">
                                            <i class="ki-filled ki-parcel text-base"></i>
                                            Reorder
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="kt-card-content p-5 lg:p-7.5 space-y-5">
                                {% for item in order.items.all %}
                                <div class="kt-card">
                                    <div class="kt-card-content flex items-center flex-wrap justify-between gap-4.5 p-2 pe-5">
                                        <div class="flex items-center gap-3.5">
                                            <div class="kt-card flex items-center justify-center bg-accent/50 h-[70px] w-[90px] shadow-none">
                                                {% if item.product.main_image %}
                                                    <img alt="{{ item.product.name }}" class="cursor-pointer h-[70px]" src="{{ item.product.main_image.0.image.url }}">
                                                {% else %}
                                                    <span class="text-xs">No Image</span>
                                                {% endif %}
                                            </div>
                                            <div class="flex flex-col gap-1">
                                                <a class="hover:text-primary text-sm font-medium text-mono leading-5.5" href="#">{{ item.product.name }}</a>
                                                <div class="flex items-center gap-1.5">
                                                    <span class="text-xs font-normal text-secondary-foreground uppercase">
                                                        Brand: <span class="text-xs font-medium text-foreground">{{ item.product.brand.name|default:"N/A" }}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col gap-1.5">
                                            <span class="text-xs font-normal text-secondary-foreground text-end">{{ item.quantity }} x</span>
                                            <div class="flex items-center flex-wrap gap-1.5">
                                                <span class="text-sm font-semibold text-mono">
                                                    {{ item.payment_currency|default:"USD" }}
                                                    {{ item.quantity|floatformat:0 }} × {{ item.payment_currency|default:"USD" }} {{ item.price|floatformat:2 }} =
                                                    {{ item.payment_currency|default:"USD" }} {{ item.quantity|multiply:item.price|floatformat:2 }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="text-center text-sm text-secondary-foreground">
                                    No items in this order.
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="text-center text-sm text-secondary-foreground">
                        No orders found.
                    </div>
                    {% endfor %}
                    <!-- end: Card -->
                </div>
                <!-- end: grid -->
            </div>
            <!-- End of Container -->
        </main>
    </div>
</div>
{% endblock content %}