{% extends "pages/base.html" %}
{% load static %}

{% block content %}
<div class="kt-container-fixed mt-1" style="max-width: var(--custom-container-width, 85%);">
    <div class="flex flex-col items-stretch gap-7 mt-5 py-5">
        <main class="grow" role="content">
            <!-- Container -->
            <div class="kt-container-fixed">
                <!-- begin: grid -->
                <div class="grid xl:grid-cols-1 gap-5 lg:gap-9">
                    <!-- begin: Card -->
                    {% for order in orders %}
                    <div class="lg:col-span-1">
                        <div class="kt-card">
                            <div class="kt-card-header justify-start bg-muted/70 gap-9 h-auto py-5">
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Order ID</span>
                                    <span class="text-sm font-medium text-mono">{{ order.id }}</span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Order placed</span>
                                    <span class="text-sm font-medium text-mono">{{ order.created_at|date:"d M, Y" }}</span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Total</span>
                                    <span class="text-sm font-medium text-mono">${{ order.price }}</span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Ship to</span>
                                    <span class="text-sm font-medium text-mono">{{ order.shipping_full_address }}</span>
                                </div>
                                <div class="flex flex-col gap-1.5">
                                    <span class="text-xs font-normal text-secondary-foreground">Status</span>
                                    <span class="text-sm font-medium text-mono">{{ order.status|title }}</span>
                                </div>
                                <a href="{% url 'dashboard:order_receipt' order.id %}" class="kt-btn kt-btn-sm kt-btn-outline">
                                    View Receipt
                                </a>

                            </div>
                            <div class="kt-card-content p-5 lg:p-7.5 space-y-5">
                                <div class="kt-card">
                                    <div class="kt-card-content flex items-center flex-wrap justify-between gap-4.5 p-2 pe-5">
                                        <div class="flex items-center gap-3.5">
                                            <div class="kt-card flex items-center justify-center bg-accent/50 h-[70px] w-[90px] shadow-none">
                                                {% with image=order.product.productimage_set.first %}
                                                    {% if image %}
                                                        <img alt="{{ order.product.name }}" class="cursor-pointer h-[70px]" src="{{ image.image.url }}">
                                                    {% else %}
                                                        <span class="text-xs">No Image</span>
                                                    {% endif %}
                                                {% endwith %}
                                            </div>
                                            <div class="flex flex-col gap-1">
                                                <a class="hover:text-primary text-sm font-medium text-mono leading-5.5" href="#">{{ order.product.name }}</a>
                                                <div class="flex items-center gap-1.5">
                                                    <span class="text-xs font-normal text-secondary-foreground uppercase">
                                                        Brand: <span class="text-xs font-medium text-foreground">{{ order.product.brand.name }}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col gap-1.5">
                                            <span class="text-xs font-normal text-secondary-foreground text-end">{{ order.quantity }} x</span>
                                            <div class="flex items-center flex-wrap gap-1.5">
                                                <span class="text-sm font-semibold text-mono">${{ order.quantity|floatformat:2 }} × ${{ order.product.price|floatformat:2 }} = ${{ order.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- end: Card -->
                </div>
                <!-- end: grid -->
            </div>
            <!-- End of Container -->
        </main>
    </div>
</div>
{% endblock content %}