{% extends "pages/base.html" %}

{% block content %}
<div class="kt-container-fixed mt-5 py-5" style="max-width: var(--custom-container-width, 85%);">
    <div class="flex flex-col items-stretch gap-7 mt-5 py-5">
        <div class="container mt-5">
            <h1 class="text-center mb-4">Payment Status</h1>

            {% if status %}
            <div class="alert alert-success text-center">✅ Payment Successful!</div>
            {% else %}
            <div class="alert alert-danger text-center">❌ Payment Failed.</div>
            {% if error %}
            <p class="text-danger text-center"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

