{% extends "pages/base.html" %}
{% load static %}

{% block content %}
<div class="kt-container-fixed mt-5 py-5" style="max-width: var(--custom-container-width, 85%);">
    <div class="flex flex-col items-stretch gap-7 mt-5 py-5">
        <!--Product Details Drawer-->
        <div class="hidden kt-drawer kt-drawer-end kt-card flex-col max-w-[90%] w-[520px] top-5 bottom-5 end-5 rounded-xl border border-border"
             data-kt-drawer="true" data-kt-drawer-container="body" id="drawers_shop_product_details">
            <div class="kt-card-header px-5">
                <h3 class="kt-card-title">
                    Product Details
                </h3>
                <button class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost shrink-0" data-kt-drawer-dismiss="true">
                    <i class="ki-filled ki-cross text-base"></i>
                </button>
            </div>
            <div class="kt-card-content flex flex-col space-y-3 p-5 kt-scrollable-y-auto">
                <div class="kt-card relative items-center justify-center bg-accent/50 mb-6.5 h-[280px] shadow-none">
                    <span class="kt-badge kt-badge-destructive kt-badge-sm absolute top-4 end-4 uppercase">save 40%</span>
                    <img alt="Pulse Oximeter" class="size-80"
                         src="{% static 'metronic/tailwind/dist/assets/media/medical/600x600/pulse-oximeter.png' %}"/>
                </div>
                <span class="text-base font-medium text-mono">
                    Pulse Oximeter Pro
                </span>
                <span class="text-sm font-normal text-foreground block mb-7">
                    Compact and reliable, this pulse oximeter measures blood oxygen levels and pulse rate with high accuracy.
                    Features a clear LED display, one-button operation, and long battery life. Ideal for home and clinical use.
                </span>
                <div class="flex flex-col gap-2.5 lg:mb-11">
                    <div class="flex items-center gap-2.5">
                        <span class="text-xs font-normal text-foreground min-w-14 xl:min-w-24 shrink-0">Availability</span>
                        <div>
                            <span class="kt-badge kt-badge-success kt-badge-sm">In Stock</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2.5">
                        <span class="text-xs font-normal text-foreground min-w-14 xl:min-w-24 shrink-0">SKU</span>
                        <div>
                            <span class="text-xs font-medium text-foreground">MED-OXI-008</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2.5">
                        <span class="text-xs font-normal text-foreground min-w-14 xl:min-w-24 shrink-0">Category</span>
                        <div>
                            <span class="text-xs font-medium text-foreground">Diagnostics</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2.5">
                        <span class="text-xs font-normal text-foreground min-w-14 xl:min-w-24 shrink-0">Rating</span>
                        <div>
                            <div class="kt-rating">
                                <div class="kt-rating-label checked">
                                    <i class="kt-rating-on ki-solid ki-star text-base leading-none"></i>
                                    <i class="kt-rating-off ki-outline ki-star text-base leading-none"></i>
                                </div>
                                <div class="kt-rating-label checked">
                                    <i class="kt-rating-on ki-solid ki-star text-base leading-none"></i>
                                    <i class="kt-rating-off ki-outline ki-star text-base leading-none"></i>
                                </div>
                                <div class="kt-rating-label checked">
                                    <i class="kt-rating-on ki-solid ki-star text-base leading-none"></i>
                                    <i class="kt-rating-off ki-outline ki-star text-base leading-none"></i>
                                </div>
                                <div class="kt-rating-label checked">
                                    <i class="kt-rating-on ki-solid ki-star text-base leading-none"></i>
                                    <i class="kt-rating-off ki-outline ki-star text-base leading-none"></i>
                                </div>
                                <div class="kt-rating-label checked">
                                    <i class="kt-rating-on ki-solid ki-star text-base leading-none"></i>
                                    <i class="kt-rating-off ki-outline ki-star text-base leading-none"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center gap-2.5">
                        <span class="text-xs font-normal text-foreground min-w-14 xl:min-w-24 shrink-0">More Info</span>
                        <div>
                            <span class="text-xs font-normal text-foreground">
                                Includes carrying case, batteries, and user manual. FDA-approved.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end gap-2">
                    <span class="text-base font-normal text-secondary-foreground line-through">₹1499.00</span>
                    <span class="text-lg font-medium text-mono">₹999.00</span>
                </div>
            </div>
            <div class="kt-card-footer px-5">
                <button class="kt-btn kt-btn-primary grow">
                    <i class="ki-filled ki-handcart"></i>
                    Add to Cart
                </button>
            </div>
        </div>
        <!--End of Product Details Drawer-->
    </div>
</div>

{% endblock content %}