beautifulsoup4~=4.13.4
soupsieve~=2.7
pillow~=11.2.1
pip~=22.0.4
pytz~=2025.2
django~=4.2.23
asgiref~=3.8.1
sqlparse~=0.5.3
signals~=0.0.2
requests~=2.32.4
stripe~=12.3.0
certifi~=2025.6.15
urllib3~=2.5.0
idna~=3.10
charset-normalizer~=3.4.2
django-bootstrap4~=25.1
setuptools~=58.1.0
django-crispy-forms~=2.4
python-dotenv~=1.1.1
razorpay~=1.4.2
crispy-bootstrap4==2022.1
django-recaptcha==3.0.0
