{% load superuser_tags %}

<!--begin::Modal - Add role-->
<div class="modal fade" id="_model_add_new_permission_group" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-900px ">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2 class="fw-bold">Add Permissions</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                 <!--begin::Close-->
                 <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg fs-3"></i>
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-lg-5 my-7">
                <!--begin::Alert-->
                <div class="alert  bg-light-primary d-flex flex-column flex-sm-row p-3 mb-10">
                    <!--begin::Icon-->
                    <i class="bi bi-bell-fill fs-1 text-primary me-4 mb-5 mb-sm-0">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                    </i>
                    <!--end::Icon-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column pe-0 pe-sm-10">
                        <!--begin::Title-->
                        <h4 class="fw-semibold">Note:</h4>
                        <!--end::Title-->
                        <!--begin::Content-->
                        <span>To apply change, edit, or delete permissions, View Permissions are required.</span>
                        <!--end::Content-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Alert-->

                <!--begin::Form-->
                <form id="_model_add_new_permission_group_form" class="form" method="POST" novalidate="novalidate" data-url="{% url 'superuser:user_permissions_add_new_group' %}" data-kt-redirect-url="{% url 'superuser:user_permissions' %}">
                    {% csrf_token %}
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold mb-2 required">Group Name</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" class="form-control form-control-solid" placeholder="Enter group name" name="group_name" />
                    </div>
                    <!--end::Input group-->

                    <!--begin::Scroll-->
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                    data-kt-scroll-offset="300px">
                        <!--begin::Permissions-->
                        <div class="fv-row">
                            <!--begin::Table wrapper-->
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table align-middle table-row-dashed fs-6 gy-5">
                                    <!--begin::Table body-->
                                    <tbody class="text-gray-600 fw-semibold">
                                        {% for model_name, permissions in permissions_by_model.items %}
                                            <tr>
                                                <td class="text-gray-600 fs-4" style="width:20%;">
                                                    {{ model_name|tag_format_model_name }}
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <!-- Begin Checkbox -->
                                                            <label class="form-check form-check-sm form-check-custom form-check-solid">
                                                                <input class="form-check-input" type="checkbox" value="all" name="{{model_name}}" id="{{model_name}}" />
                                                                <span class="form-check-label">Select All</span>
                                                            </label>
                                                            <!-- End Checkbox -->
                                                        </div>
                                                        {% for permission in permissions %}
                                                            <!-- Begin Checkbox -->
                                                            <div class="col-md-4 mb-3">
                                                                <label class="form-check form-check-sm form-check-custom form-check-solid">
                                                                    <input class="form-check-input" type="checkbox" value="{{ permission.codename }}" name="{{model_name}}" />
                                                                    <span class="form-check-label">{{ permission.name|tag_format_permission_name }}</span>
                                                                </label>
                                                            </div>
                                                            <!-- End Checkbox -->
                                                        {% empty %}
                                                            <li>No permissions available.</li>
                                                        {% endfor %}
                                                    </div>
                                                    <!--end::Wrapper-->
                                                </td>
                                                <!--end::Options-->
                                            </tr>
                                            <!--end::Table row-->
                                        {% endfor %}
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <!--end::Table wrapper-->
                        </div>
                        <!--end::Permissions-->
                    </div>
                    <!--end::Scroll-->
                    <!--begin::Actions-->
                    <div class="text-center pt-15">
                        <button type="submit" class="btn btn-primary" id="_model_add_new_permission_group_submit">
                            <span class="indicator-label">Submit</span>
                            <span class="indicator-progress">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Add role-->
