<div class="col-md-6 col-lg-6 col-xl-4 col-xxl-3">
    <label class="fs-6 form-label fw-bold text-gray-900">Payment Type</label>

    <select class="form-select form-select-solid" data-hide-search="true" name="product_status" data-control="select2">
        <option value="all" {% if request.GET.product_status == 'all' %} selected {% endif %}>All</option>
        <option value="published" {% if request.GET.product_status == 'published' %} selected {% endif %}>Published</option>
        <option value="inactive" {% if request.GET.product_status == 'inactive' %} selected {% endif %}>Draft</option>
    </select>

</div>

