<div class="col-md-6 col-lg-6 col-xl-4 col-xxl-3">
    <label class="fs-6 form-label fw-bold text-gray-900">Order Status</label>

    <select class="form-select form-select-solid" data-hide-search="true" name="order_status" data-control="select2">
        <option value="all" {% if request.GET.product_status == 'all' %} selected {% endif %}>All</option>
        <option value="pending" {% if request.GET.product_status == 'pending' %} selected {% endif %}>Pending</option>
        <option value="processing" {% if request.GET.product_status == 'processing' %} selected {% endif %}>Processing</option>
        <option value="shipped" {% if request.GET.product_status == 'shipped' %} selected {% endif %}>Shipped</option>
        <option value="delivered" {% if request.GET.product_status == 'delivered' %} selected {% endif %}>Delivered</option>
        <option value="delivering" {% if request.GET.product_status == 'delivering' %} selected {% endif %}>Delivering</option>
        <option value="cancelled" {% if request.GET.product_status == 'cancelled' %} selected {% endif %}>Cancelled</option>
        <option value="refunded" {% if request.GET.product_status == 'refunded' %} selected {% endif %}>Refunded</option>
        <option value="failed" {% if request.GET.product_status == 'failed' %} selected {% endif %}>Failed</option>
    </select>

</div>

