{% extends 'adminv2/base.html' %}
{% load static %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message|escapejs }}");
        </script>
    {% endfor %}
{% endif %}

<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
 	<div class="d-flex flex-column flex-column-fluid">

		<div id="kt_app_content" class="app-content  flex-column-fluid ">

			<div id="kt_app_content_container" class="app-container  container-fluid ">
 				<form class="form d-flex flex-column flex-lg-row" method="POST"
					enctype="multipart/form-data">
					{% csrf_token %}
 					<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
 						<div class="card card-flush py-4">
 							<div class="card-header">
 								<div class="card-title">
									<h2>Thumbnail</h2>
								</div>
 							</div>

 							<div class="card-body text-center pt-0">

								<div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
									data-kt-image-input="true">
 									{% if product_image %}
									<div class="image-input-wrapper w-150px h-150px"
										style="background-image: url('{{ product_image.image.url }}')">
									</div>
									{% else %}
									<div class="image-input-wrapper w-150px h-150px"
										style="background-image: url('/static/adminv2/media/stock/ecommerce/78.png')">
									</div>
									{% endif %}

 									<label
										class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
										data-kt-image-input-action="change" data-bs-toggle="tooltip"
										title="Change avatar">
										<i class="fas fa-pen fs-7 text-primary"></i>
 										<input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
										<input type="hidden" name="avatar_remove" />
 									</label>

 									<span
										class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
										data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
										title="Cancel avatar">
										<i class="ki-outline ki-cross fs-2"></i> </span>

 									<span
										class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
										data-kt-image-input-action="remove" data-bs-toggle="tooltip"
										title="Remove avatar">
										<i class="ki-outline ki-cross fs-2"></i> </span>
 								</div>

 								<div class="text-muted fs-7">Set the product thumbnail image. Only
									*.png, *.jpg and *.jpeg image files are accepted</div>
 							</div>
 						</div>
 						<div class="card card-flush py-4">
 							<div class="card-header">
 								<div class="card-title">
									<h2>Status</h2>
								</div>

								<div class="card-toolbar">
									<div class="rounded-circle bg-success w-15px h-15px"
										id="kt_ecommerce_add_product_status"></div>
								</div>
 							</div>

							<div class="card-body pt-0">
 								<select class="form-select mb-2" data-control="select2"
									data-hide-search="true" data-placeholder="Select an option"
									id="kt_ecommerce_add_product_status_select">
									<option></option>
									<option value="published" selected>Published</option>
									<option value="draft">Draft</option>
									<option value="scheduled">Scheduled</option>
									<option value="inactive">Inactive</option>
								</select>

 								<div class="text-muted fs-7">Set the product status.</div>

								<div class="d-none mt-10">
									<label for="kt_ecommerce_add_product_status_datepicker"
										class="form-label">Select publishing date and time</label>
									<input class="form-control"
										id="kt_ecommerce_add_product_status_datepicker"
										placeholder="Pick date & time" />
								</div>
 							</div>
 						</div>

						<div class="card card-flush py-4">
 							<div class="card-header">
 								<div class="card-title">
									<h2>Product Details</h2>
								</div>
 							</div>

 							<div class="card-body pt-0">
								<label class="form-label">Categories</label>
 								<select class="form-select mb-2" name="category" data-control="select2"
									data-placeholder="Select an option" data-allow-clear="true" >

									<option></option>
									{% for cat in categories %}
										<option value="{{ cat.id }}" {% if cat.id == product_category.id %}selected{% endif %}>
											{{ cat.name }}
										</option>
									{% endfor %}

								</select>

 								<div class="text-muted fs-7 mb-7">Add product to a category.</div>


 								<a href="add-category.html" class="btn btn-light-primary btn-sm mb-10">
									<i class="fas fa-plus fs-2 text-primary"></i> Create new category
								</a>

							</div>
 						</div>

						
					</div>

					<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
 						<ul
							class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-n2 d-none">
 							<li class="nav-item">
								<a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab"
									href="#kt_ecommerce_add_product_general">General</a>
							</li>

							<li class="nav-item">
								<a class="nav-link text-active-primary pb-4" data-bs-toggle="tab"
									href="#kt_ecommerce_add_product_advanced">Advanced</a>
							</li>

							<li class="nav-item">
								<a class="nav-link text-active-primary pb-4" data-bs-toggle="tab"
									href="#kt_ecommerce_add_product_reviews">Reviews</a>
							</li>
 						</ul>

						<div class="tab-content">
							<!-- General -->
 							<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general"
								role="tab-panel">
								<div class="d-flex flex-column gap-7 gap-lg-10">

									<!-- General options-->
									<div class="card card-flush py-4">
 										<div class="card-header">
											<div class="card-title">
												<h2>General</h2>
											</div>
										</div>

 										<div class="card-body pt-0">
 											<div class="mb-10 fv-row">
 												<label class="required form-label">Product Name</label>
												<input type="text" name="product_name"
													class="form-control mb-2" value="{{ product.name }}"
													placeholder="Product name">

 												<div class="text-muted fs-7">A product name is required
													and recommended to be unique.</div>
 											</div>

 											<div>
 												<label class="form-label">Description</label>
												<textarea name="description" class="form-control mb-2"
													rows="4">{{ product.description }}</textarea><br>

 												<div class="text-muted fs-7">Set a description to the
													product for better visibility.</div>
 											</div>

											<div class="mb-10 mt-4 fv-row">
												<label class="form-label required">Quantity</label>

												<input type="number" name="product_quantity"
													class="form-control mb-2" placeholder="Enter available quantity"
													value="{{product_quantity}}" min="0" required />


											</div>

 										</div>
 									</div>

									<!-- Pricing -->
 									<div class="card card-flush py-4">
 										<div class="card-header">
											<div class="card-title">
												<h2>Pricing</h2>
											</div>
										</div>

										<div class="card-body pt-0">
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label class="required form-label">Base Price</label>
												<input type="text" name="price"
													class="form-control mb-2"
													value="{{ product.price }}"
													placeholder="Product price">

												<div class="text-muted fs-7">Set the product price.
												</div>
 											</div>

											<div class="fv-row mb-10">
 												<label class="fs-6 fw-semibold mb-2">
													Discount Type
													<span class="ms-1" data-bs-toggle="tooltip"
														title="Select a discount type that will be applied to this product">
														<i class="fas fa-info-circle text-gray-500 fs-6"></i></span>
												</label>

												<div class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-3 g-9"
													data-kt-buttons="true"
													data-kt-buttons-target="[data-kt-button='true']">
 													<div class="col">
 														<label
															class="btn btn-outline btn-outline-dashed btn-active-light-primary  d-flex text-start p-6"
															data-kt-button="true">
 															<span
																class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																<input class="form-check-input"
																	type="radio" name="discount_option"
																	value="1" />
															</span>

 															<span class="ms-5">
																<span
																	class="fs-4 fw-bold text-gray-800 d-block">No
																	Discount</span>
															</span>
 														</label>
 													</div>

 													<div class="col">
 														<label
															class="btn btn-outline btn-outline-dashed btn-active-light-primary active d-flex text-start p-6"
															data-kt-button="true">
 															<span
																class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																<input class="form-check-input"
																	type="radio" name="discount_option"
																	value="2" checked="checked" />
															</span>

 															<span class="ms-5">
																<span
																	class="fs-4 fw-bold text-gray-800 d-block">Percentage %</span>
															</span>
 														</label>
 													</div>

													<div class="col">
 														<label
															class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start p-6"
															data-kt-button="true">
 															<span
																class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																<input class="form-check-input"
																	type="radio" name="discount_option"
																	value="3" />
															</span>

															<span class="ms-5">
																<span
																	class="fs-4 fw-bold text-gray-800 d-block">Fixed
																	Price</span>
															</span>
 														</label>
 													</div>
 												</div>
 											</div>

											<div class="d-none mb-10 fv-row"
												id="kt_ecommerce_add_product_discount_fixed">
 												<label class="form-label">Fixed Discounted Price</label>

 												<input type="text" name="dicsounted_price"
													class="form-control mb-2"
													placeholder="Discounted price" />

 												<div class="text-muted fs-7">Set the discounted product
													price. The product will be reduced at the determined
													fixed price</div>
 											</div>

										
										</div>
 									</div>
 								</div>
							</div>

							<!-- Advanced -->
 							<div class="tab-pane fade" id="kt_ecommerce_add_product_advanced"
								role="tab-panel">
								<div class="d-flex flex-column gap-7 gap-lg-10">

									<!-- Inventory -->
									<div class="card card-flush py-4">
 										<div class="card-header">
											<div class="card-title">
												<h2>Inventory</h2>
											</div>
										</div>

										<div class="card-body pt-0">
 											<div class="mb-10 fv-row">
 												<label class="required form-label">SKU</label>

												<input type="text" name="sku" class="form-control mb-2"
													placeholder="SKU Number" value="011985001" />

												<div class="text-muted fs-7">Enter the product SKU.
												</div>
 											</div>

 											<div class="mb-10 fv-row">
 												<label class="required form-label">Barcode</label>

												<input type="text" name="barcode"
													class="form-control mb-2"
													placeholder="Barcode Number" value="45874521458" />

												<div class="text-muted fs-7">Enter the product barcode
													number.</div>
 											</div>

 											<div class="mb-10 fv-row">
 												<label class="required form-label">Quantity</label>

												<div class="d-flex gap-3">
													<input type="number" name="shelf"
														class="form-control mb-2" placeholder="On shelf"
														value="24" />
													<input type="number" name="warehouse"
														class="form-control mb-2"
														placeholder="In warehouse" />
												</div>

 												<div class="text-muted fs-7">Enter the product quantity.
												</div>
 											</div>

 											<div class="fv-row">
 												<label class="form-label">Allow Backorders</label>

												<div
													class="form-check form-check-custom form-check-solid mb-2">
													<input class="form-check-input" type="checkbox"
														value="" />
													<label class="form-check-label">
														Yes
													</label>
												</div>

												<div class="text-muted fs-7">Allow customers to purchase
													products that are out of stock.</div>
 											</div>
 										</div>
 									</div>

								</div>
							</div>

							<!--	Reviews 	-->
							<div class="tab-pane fade" id="kt_ecommerce_add_product_reviews"
								role="tab-panel">
								<div class="d-flex flex-column gap-7 gap-lg-10">

 									<div class="card card-flush py-4">
 										<div class="card-header">
 											<div class="card-title">
												<h2>Customer Reviews</h2>
											</div>

 											<div class="card-toolbar">
 												<span class="fw-bold me-5">Overall Rating: </span>

 												<div class="rating">
													<div class="rating-label checked">
														<i class="ki-outline ki-star fs-2"></i>
													</div>
													<div class="rating-label checked">
														<i class="ki-outline ki-star fs-2"></i>
													</div>
													<div class="rating-label checked">
														<i class="ki-outline ki-star fs-2"></i>
													</div>
													<div class="rating-label checked">
														<i class="ki-outline ki-star fs-2"></i>
													</div>
													<div class="rating-label">
														<i class="ki-outline ki-star fs-2"></i>
													</div>
												</div>
 											</div>
 										</div>

 										<div class="card-body pt-0">
 											<table class="table table-row-dashed fs-6 gy-5 my-0"
												id="kt_ecommerce_add_product_reviews">
												<thead>
													<tr
														class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
														<th class="w-10px pe-2">
															<div
																class="form-check form-check-sm form-check-custom form-check-solid me-3">
																<input class="form-check-input"
																	type="checkbox" data-kt-check="true"
																	data-kt-check-target="#kt_ecommerce_add_product_reviews .form-check-input"
																	value="1" />
															</div>
														</th>
														<th class="min-w-125px">Rating</th>
														<th class="min-w-175px">Customer</th>
														<th class="min-w-175px">Comment</th>
														<th class="min-w-100px text-end fs-7">Date</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<!--begin::Checkbox-->
															<div
																class="form-check form-check-sm form-check-custom form-check-solid mt-1">
																<input class="form-check-input"
																	type="checkbox" value="1" />
															</div>
															<!--end::Checkbox-->
														</td>
														<td data-order="rating-5">
															<!--begin::Rating-->
															<div class="rating">
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
															</div>
															<!--end::Rating-->
														</td>
														<td>
															<a href="https://preview.keenthemes.com/metronic8/demo58/apps/inbox/reply.html"
																class="d-flex text-gray-900 text-gray-800 text-hover-primary">
																<!--begin::Avatar-->
																<div
																	class="symbol symbol-circle symbol-25px me-3">
																	<div
																		class="symbol-label bg-light-danger">
																		<span
																			class="text-danger">M</span>
																	</div>
																</div>
																<!--end::Avatar-->

																<!--begin::Name-->
																<span class="fw-bold">Melody Macy</span>
																<!--end::Name-->
															</a>
														</td>
														<td class="text-gray-600 fw-bold">
															I like this design </td>
														<td class="text-end">
															<span
																class="fw-semibold text-muted">Today</span>
														</td>
													</tr>
  													<tr>
														<td>
															<!--begin::Checkbox-->
															<div
																class="form-check form-check-sm form-check-custom form-check-solid mt-1">
																<input class="form-check-input"
																	type="checkbox" value="1" />
															</div>
															<!--end::Checkbox-->
														</td>
														<td data-order="rating-5">
															<!--begin::Rating-->
															<div class="rating">
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
															</div>
															<!--end::Rating-->
														</td>
														<td>
															<a href="https://preview.keenthemes.com/metronic8/demo58/apps/inbox/reply.html"
																class="d-flex text-gray-900 text-gray-800 text-hover-primary">
																<!--begin::Avatar-->
																<div
																	class="symbol symbol-circle symbol-25px me-3">
																	<span class="symbol-label"
																		style="background-image:url(../../../assets/media/avatars/300-25.jpg)"></span>
																</div>
																<!--end::Avatar-->

																<!--begin::Name-->
																<span class="fw-bold">Brian Cox</span>
																<!--end::Name-->
															</a>
														</td>
														<td class="text-gray-600 fw-bold">
															This is the best product I've ever used.
														</td>
														<td class="text-end">
															<span class="fw-semibold text-muted">2 days
																ago</span>
														</td>
													</tr>
													<tr>
														<td>
															<!--begin::Checkbox-->
															<div
																class="form-check form-check-sm form-check-custom form-check-solid mt-1">
																<input class="form-check-input"
																	type="checkbox" value="1" />
															</div>
															<!--end::Checkbox-->
														</td>
														<td data-order="rating-3">
															<!--begin::Rating-->
															<div class="rating">
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label checked">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label ">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
																<div class="rating-label ">
																	<i
																		class="ki-outline ki-star fs-6"></i>
																</div>
															</div>
															<!--end::Rating-->
														</td>
														<td>
															<a href="https://preview.keenthemes.com/metronic8/demo58/apps/inbox/reply.html"
																class="d-flex text-gray-900 text-gray-800 text-hover-primary">
																<!--begin::Avatar-->
																<div
																	class="symbol symbol-circle symbol-25px me-3">
																	<div
																		class="symbol-label bg-light-warning">
																		<span
																			class="text-warning">C</span>
																	</div>
																</div>
																<!--end::Avatar-->

																<!--begin::Name-->
																<span class="fw-bold">Mikaela
																	Collins</span>
																<!--end::Name-->
															</a>
														</td>
														<td class="text-gray-600 fw-bold">
															I thought it was just average, I prefer
															other brands </td>
														<td class="text-end">
															<span class="fw-semibold text-muted">July
																25</span>
														</td>
													</tr>

												</tbody>
											</table>
 										</div>
 									</div>
 								</div>
							</div>
 						</div>

						<div class="d-flex justify-content-end">
 							<a href="{% url 'adminv2:products_list' %}" id="kt_ecommerce_add_product_cancel"
								class="btn btn-light me-5">
								Cancel
							</a>

 							<button type="submit" id="kt_ecommerce_add_product_submit"
								class="btn btn-primary">
								<span class="indicator-label">Save Changes</span>
								<span class="indicator-progress">
									Please wait... <span
										class="spinner-border spinner-border-sm align-middle ms-2"></span>
								</span>
							</button>
				</form>
 			</div>
		</div>
		</form>
	</div>
</div>


{% endblock %}

{% block page_only_scripts %}

{% endblock page_only_scripts %}
