
{% extends 'superuser/superuser_base.html' %}

{% block content %}


<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_content" class="app-content flex-column-fluid mx-5">
            <div class="app-container container-fluid">
                <div class="card mb-5">
                    <div class="card-body">
                        <h3 class="fw-bold mb-0">Supplier Chats</h3>
                       
                    </div>
                </div>

                <div class="card card-flush">
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Supplier</th>
                                    <th>Last Message</th>
                                    <th>Last Updated</th>
                                    <th>Unread Messages</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for room in rooms %}
                                <tr>
                                    <td>{{ room.supplier.username }}</td>
                                    <td>{{ room.messages.last.message|truncatechars:50|default:"No messages yet" }}</td>
                                    <td>{{ room.updated_at|timesince }} ago</td>
                                    <td>
                                        <span class="badge badge-danger">
                                            {{ room.unread_count }}
                                        </span>
                                        
                                    </td>
                                    <td>
                                        <a href="{% url 'superuser:admin_chats' %}?supplier_id={{ room.supplier.id }}" 
                                        class="btn btn-primary btn-sm">
                                            Open Chat
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No chat rooms available</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include "superuser/pages/pagination.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}