{% extends 'superuser/superuser_base.html' %}
{% load static %}
{% load superuser_tags %}

{% block title %}API Controls{% endblock %}

{% block content %}
{% tag_user_permissions_list request.user as user_permissions_list %}

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
  <div class="d-flex flex-column flex-column-fluid">
    <div id="kt_app_content" class="app-content flex-column-fluid mx-5">
      <div id="kt_app_content_container" class="app-container container-fluid">
<!-- Filter Form -->
<form action="{% url 'superuser:api_control' %}" method="GET">
  <div class="card mb-7">
      <div class="card-body">
          {% include "superuser/pages/filters/filter_sort_by.html" %}
          {% include "superuser/pages/filters/filter_search_by.html" with show_advance_search_link=True search_help_text='Choices: API Name' search_placeholder_text='Search API' %}
          <div class="collapse" id="kt_advanced_search_form">
              <div class="separator separator-dashed mt-9 mb-6"></div>
              <div class="row g-8 mb-8">
                  <div class="col-xxl-12">
                      <div class="row g-8">
                          {% include "superuser/pages/filters/filter_created_date_range_picker.html" %}
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
        <div id="successMessage" class="alert alert-success d-none" style="font-size:16px;">
          <strong id="successText"></strong>
        </div>

        <div class="card card-flush">
          <div class="card-header flex-wrap align-items-center py-5 gap-4">
            <div class="card-title">API Controls</div>
          </div>

          <div class="card-body table-responsive">

            <form id="csrfForm">{% csrf_token %}</form>

            <table class="table table-row-dashed align-middle fs-6 gy-5" style="width: 100%;">
              <thead>
                <tr class="text-gray-500 fw-bold fs-7 text-uppercase text-center">
                  <th style="padding: 12px;">Portal</th>
                  <th style="padding: 12px;">API Name</th>
                  <th style="padding: 12px;">Status</th>
                  <th style="padding: 12px;">Created at</th>
                </tr>
              </thead>

              <tbody class="fw-semibold text-gray-600 text-center">
                {% for api in apis %}
                <tr>
                  <td style="padding: 12px;">{{ api.portal }}</td>
                  <td style="padding: 12px;">{{ api.api_name }}</td>

                  <td style="padding: 12px;">
                    <div class="form-check form-switch d-flex justify-content-center">
                      <input class="form-check-input toggleStatusSwitch"
                             type="checkbox"
                             data-id="{{ api.id }}"
                             {% if api.status == 'active' %}checked{% endif %}>
                    </div>
                  </td>
                  <td class="text-center">
                        <div class="badge badge-light fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ api.created_at|date:'F d Y P' }}">
                            {{ api.created_at|date:'F d Y' | default:'No date found' }}
                        </div>
                    </td>
                </tr>

                {% empty %}
                <tr>
                  <td colspan="4" style="padding: 12px; color: #888;">No API Entries Yet.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
        {% include "superuser/pages/pagination.html" with page_obj=page_obj %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_only_scripts %}
{% include "superuser/pages/filters/filter_created_date_range_picker_js.html" %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  function showSuccess(msg) {
    const box = document.getElementById("successMessage");
    const text = document.getElementById("successText");
    text.innerText = msg;

    box.classList.remove("d-none");
    setTimeout(() => box.classList.add("d-none"), 2000);
  }

  // Toggle
  document.querySelectorAll('.toggleStatusSwitch').forEach(sw => {
    sw.addEventListener('change', function () {

      fetch(`/superuser/api-control/toggle/${this.dataset.id}/`, {
        method: "POST",
        headers: {
          "X-CSRFToken": document.querySelector('#csrfForm [name=csrfmiddlewaretoken]').value
        }
      })
      .then(r => r.json())
      .then(res => {
        if (res.success) {
          showSuccess("Status updated!");
        }
      });

    });
  });

});
</script>
{% endblock %}
