{% extends 'superuser/superuser_base.html' %}
{% load static %}
{% load custom_filters %} {# for add_class filter #}

{% block title %}
    {% if object %} Edit Banner #{{ object.id }} {% else %} Upload New Banner {% endif %}
{% endblock %}

{% block content %}
<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-fluid">

                <!--begin::Banner Form Card-->
                <div class="card mb-5 mb-xl-10">
                    <div class="card-header border-0 cursor-pointer" role="button"
                         data-bs-toggle="collapse" data-bs-target="#kt_banner_form"
                         aria-expanded="true" aria-controls="kt_banner_form">
                        <div class="card-title m-0">
                            <h3 class="fw-bold m-0">
                                {% if object %}Edit Banner #{{ object.id }}{% else %}Upload New Banner{% endif %}
                            </h3>
                        </div>
                    </div>

                    <div id="kt_banner_form" class="collapse show">
                        <form method="post" enctype="multipart/form-data" class="form">
                            {% csrf_token %}
                            <div class="card-body border-top p-9">

                                <!-- Title -->
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-semibold fs-6">
                                        Banner Title
                                    </label>
                                    <div class="col-lg-8 fv-row">
                                        {{ form.title|add_class:"form-control form-control-lg form-control-solid" }}
                                        {{ form.title.errors }}
                                    </div>
                                </div>

                                <!-- Order -->
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                        Display Order
                                    </label>
                                    <div class="col-lg-8 fv-row">
                                        {{ form.order|add_class:"form-control form-control-lg form-control-solid" }}
                                        {{ form.order.errors }}
                                    </div>
                                </div>

                                <!-- Image -->
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                        Banner Image
                                    </label>
                                    <div class="col-lg-8 fv-row">
                                        {{ form.image|add_class:"form-control form-control-lg form-control-solid" }}
                                        {{ form.image.errors }}

                                        {% if object and object.image %}
                                            <div class="mt-3">
                                                <img src="{{ object.image.url }}" alt="{{ object.title }}"
                                                     class="rounded w-100px h-70px object-fit-cover border">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                

                                

                                <!-- Link -->
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                        Redirect Link (optional)
                                    </label>
                                    <div class="col-lg-8 fv-row">
                                        {{ form.link|add_class:"form-control form-control-lg form-control-solid" }}
                                        {{ form.link.errors }}
                                    </div>
                                </div>

                                <!-- Active Toggle -->
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                        Is Active?
                                    </label>
                                    <div class="col-lg-8 d-flex align-items-center">
                                        <div class="form-check form-switch">
                                            {{ form.is_active }}
                                            {{ form.is_active.errors }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Actions -->
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <a href="{% url 'superuser:banner_list' %}" class="btn btn-light btn-active-light-primary me-2">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    {% if object %}
                                        <i class="ki-duotone ki-pencil fs-2 me-1"></i> Update Banner
                                    {% else %}
                                        <i class="ki-duotone ki-upload fs-2 me-1"></i> Upload Banner
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--end::Banner Form Card-->

            </div>
        </div>
    </div>
</div>
<!--end::Main-->
{% endblock %}
