{% extends 'superuser/superuser_base.html' %}
{% load static %}
{% load superuser_tags %}

{% block title %}Return Reason{% endblock %}

{% block content %}
{% tag_user_permissions_list request.user as user_permissions_list %}

<div id="successMessage" class="alert alert-success d-none" style="font-size:16px;">
    <strong id="successText"></strong>
</div>

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
  <div class="d-flex flex-column flex-column-fluid">
    <div id="kt_app_content" class="app-content flex-column-fluid mx-5">
      <div id="kt_app_content_container" class="app-container container-fluid">
        <!-- Filter Form -->
        <form action="{% url 'superuser:return_reason' %}" method="GET">
          <div class="card mb-7">
              <div class="card-body">
                  {% include "superuser/pages/filters/filter_sort_by.html" %}
                  {% include "superuser/pages/filters/filter_search_by.html" with show_advance_search_link=True search_help_text='Choices: Reason' search_placeholder_text='Search Reason' %}
                  <div class="collapse" id="kt_advanced_search_form">
                      <div class="separator separator-dashed mt-9 mb-6"></div>
                      <div class="row g-8 mb-8">
                          <div class="col-xxl-12">
                              <div class="row g-8">
                                  {% include "superuser/pages/filters/filter_created_date_range_picker.html" %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </form>

        <div class="card card-flush">
          <div class="card-header flex-wrap align-items-center py-5 gap-4">
            <div class="card-title">Return Reason</div>
            <div class="card-toolbar">
              <button class="btn btn-primary" id="addBtn">
                <i class="fas fa-plus me-2"></i>Add Reason
              </button>
            </div>
          </div>

          <div class="card-body table-responsive">
            <table class="table table-row-dashed align-middle fs-6 gy-5" style="width: 100%; border-collapse: collapse;">
              <thead>
                <tr class="text-gray-500 fw-bold fs-7 text-uppercase" style="text-align: center;">
                  <th style="padding: 12px;">Reason En</th>
                  <th style="padding: 12px;">Created at</th>
                  <th style="padding: 12px;">Actions</th>
                </tr>
              </thead>
          
              <tbody class="fw-semibold text-gray-600" style="text-align: center;">
                {% for r in reasons %}
                <tr>
                  <td style="padding: 12px; vertical-align: middle;">{{ r.reason_en }}</td>
                  <td class="text-center">
                        <div class="badge badge-light fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ r.created_at|date:'F d Y P' }}">
                            {{ r.created_at|date:'F d Y' | default:'No date found' }}
                        </div>
                    </td>
                  <td style="padding: 12px; vertical-align: middle;">
                    <!-- Actions Dropdown -->
                    <div class="dropdown">
                      <button class="btn btn-light-primary btn-sm dropdown-toggle" type="button" id="reasonActionsDropdown{{ r.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="reasonActionsDropdown{{ r.id }}">
                        <li>
                          <a class="dropdown-item editBtn" href="javascript:void(0);"
                             data-id="{{ r.id }}"
                             data-reason="{{ r.reason_en }}">
                            Edit
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item deleteBtn" href="javascript:void(0);" data-id="{{ r.id }}">
                            Delete
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="3" style="padding: 12px; color: #888;">No return reasons added yet.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% include "superuser/pages/pagination.html" with page_obj=page_obj %}
      </div>
    </div>
  </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade" id="reasonModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3">
      <div class="modal-header text-white">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form id="reasonForm">
            {% csrf_token %}
            <input type="hidden" id="rid" name="rid">
            
            <label class="form-label fw-semibold">Reason En  <span style="color: red;">*</span></label>
            <input type="text" name="reason_en" id="reasonField" class="form-control" required>
            <div class="text-danger mt-1" id="reasonError" style="display:none;"></div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" id="saveBtn">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_only_scripts %}
{% include "superuser/pages/filters/filter_created_date_range_picker_js.html" %}
<script>
function showSuccess(msg){
    const box = document.getElementById('successMessage');
    const txt = document.getElementById('successText');

    txt.textContent = msg;
    box.classList.remove('d-none');

    setTimeout(() => {
        box.classList.add('d-none');
    }, 3000);
}

document.addEventListener("DOMContentLoaded", function () {

  const modal   = new bootstrap.Modal(document.getElementById('reasonModal'));
  const title   = document.getElementById('modalTitle');
  const idField = document.getElementById('rid');
  const reasonFld = document.getElementById('reasonField');
  const reasonError = document.getElementById('reasonError');

  function resetForm() {
    idField.value = "";
    reasonFld.value = "";
    reasonFld.classList.remove("is-invalid");
    reasonError.style.display = "none";
  }

  document.getElementById('addBtn').addEventListener('click', function () {
    title.textContent = "Add Return Reason";
    resetForm();
    modal.show();
  });

  document.querySelectorAll('.editBtn').forEach(btn => {
    btn.addEventListener('click', function () {
      title.textContent = "Edit Return Reason";
      idField.value = this.dataset.id;
      reasonFld.value = this.dataset.reason;
      reasonFld.classList.remove("is-invalid");
      reasonError.style.display = "none";
      modal.show();
    });
  });

  function validate() {
    let valid = true;

    if (!reasonFld.value.trim()) {
      reasonFld.classList.add("is-invalid");
      reasonError.innerText = "Reason is required.";
      reasonError.style.display = "block";
      valid = false;
    } else {
      reasonFld.classList.remove("is-invalid");
      reasonError.style.display = "none";
    }

    return valid;
  }

  document.getElementById('saveBtn').addEventListener('click', function () {
    if (!validate()) return;

    let rid = idField.value;

    let url = rid 
      ? `/admin-panel/return-reason/edit/${rid}/`
      : `/admin-panel/return-reason/add/`;

    fetch(url, {
      method: "POST",
      headers: { "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value },
      body: new FormData(document.getElementById('reasonForm'))
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            modal.hide();
            showSuccess("Reason saved successfully!");
            setTimeout(() => location.reload(), 800);
        } else {
            reasonFld.classList.add("is-invalid");
            reasonError.innerText = data.msg || "Something went wrong!";
            reasonError.style.display = "block";
        }
    });
  });

  document.querySelectorAll('.deleteBtn').forEach(btn => {
    btn.addEventListener('click', function () {
      if (!confirm("Delete this reason?")) return;

      fetch(`/admin-panel/return-reason/delete/${this.dataset.id}/`, {
        method: "POST",
        headers: { "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value }
      })
      .then(r => r.json())
      .then(res => {
        if (res.success){
            showSuccess("Reason deleted successfully!");
            setTimeout(() => location.reload(), 800);
        } else alert(res.msg);
      });
    });
  });

});
</script>
{% endblock %}
