<div class="col-md-6 col-lg-6 col-xl-4 col-xxl-3">
    <label class="fs-6 form-label fw-bold text-gray-900">Payment Type</label>
    <select class="form-select form-select-solid" data-hide-search="true" name="payment_type" data-control="select2">
        <option value="all" {% if request.GET.payment_type == 'all' %} selected {% endif %}>All</option>
        <option value="cod" {% if request.GET.payment_type == 'cod' %} selected {% endif %}>Cash on Delivery</option>
        <option value="stripe" {% if request.GET.payment_type == 'stripe' %} selected {% endif %}>Card</option>
        <option value="razorpay" {% if request.GET.payment_type == 'razorpay' %} selected {% endif %}>UPI</option>
    </select>
</div>

