<div class="col-md-6 col-lg-6 col-xl-4 col-xxl-3">
    <label class="fs-6 form-label fw-bold text-gray-900">Payment status</label>

    <select class="form-select form-select-solid" data-hide-search="true" name="payment_status" data-control="select2">
        <option value="all" {% if request.GET.payment_status == 'all' %} selected {% endif %}>All</option>
        <option value="paid" {% if request.GET.payment_status == 'paid' %} selected {% endif %}>Paid</option>
        <option value="unpaid" {% if request.GET.payment_status == 'unpaid' %} selected {% endif %}>Unpaid</option>
    </select>

</div>
